@charset "UTF-8";

body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #bcf0f8;
    margin: 0;
    padding: 20px;
    font-size: 18px;
  }

  .syoukai_1 p,
  .kome_1 p,
  .home_1 p {
    font-size: 25px;
    line-height: 1.5;
  }

  .sonohoka_1 p{
    font-size: 25px;
    line-height: 0.8;
  }

  .img_1{
    width: 200px;
    height: 200px;
  }

  .bun_1{
    display: flex;
    align-items: center;
  }

  .bun_1 img{
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .size_1{
    font-size: 40px;
    margin-top: 80px;
  }
  
  h1 {
    color: #333;
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .syoukai_1 {
    margin-bottom: 30px;
    margin-right: 300px;
    margin-top: 70px;
    padding-left:  auto;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 17px 20px 6px rgba(0, 0, 0, 0.1);
  }

  .sonohoka_1 {
    margin-bottom: 30px;
    margin-right: 1000px;
    padding-left:  auto;
    padding-top: 10px;
    padding-left: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 17px 20px 6px rgba(0, 0, 0, 0.1);
  }

  .home_1 {
    margin-bottom: 30px;
    margin-right: 1000px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 17px 20px 6px rgba(0, 0, 0, 0.1);

    display: flex;
  justify-content: center;
  align-items: center;
  }

  .kome_1 {
    margin-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 17px 20px 6px rgba(0, 0, 0, 0.1);
  }

  .kome_syousai_1{
    font-size: 40px;
    color: #000002;
  }
  
  .sonohoka_syousai_1{
    font-size: 25px;
    color: #851f1f;
  }

  p {
    line-height: 1.6;
    margin-bottom: 10px;
  }
  
  .kome_1 p:first-of-type {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .sonohoka_1 a {
    display: block;
    margin-bottom: 5px;
    color: #337ab7;
    text-decoration: none;
  }
  
  .sonohoka_1 a:hover {
    text-decoration: underline;
  }
  
  .home_1 a {
    color: #555;
    text-decoration: none;
  }
  
  .home_1 a:hover {
    text-decoration: underline;
  }
  
  homesize_1{
    margin-left: 40px;
  }
  
  .link{
    color: #000;
  }






  .img_1 {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .toggleButton {
    position: absolute;
    top: 0px;
    right: 17px;
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    z-index: 1;
  }
  
  .button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .button span {
    font-size: 20px;
  }
  

  