/* ヘッダーのスタイル */
h1 {
  color: #333;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* h2要素のスタイル */
h2 {
  color: #555;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

/* .memberクラスのスタイル */
.member {
  text-align: center;
  margin-bottom: 20px;
}

.member a {
  color: #007bff;
  text-decoration: none;
}

.member a:hover {
  text-decoration: underline;
}

/* 時計のスタイル */
#clock {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

/* カウントボタンのスタイル */
.cyousei_1 {
  text-align: center;
  margin-top: 20px;
}

.tate_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons {
  margin-bottom: 10px;
}

.but_1,
.but_2 {
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.but_1:hover,
.but_2:hover {
  background-color: #0056b3;
}

#countDisplay {
  font-size: 24px;
}

/* 背景色切り替えボタンのスタイル */
.button-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* アラートメッセージ表示ボタンのスタイル */
.label-container {
  position: absolute;
  top: 80px;
  left: 10px;
}

.label-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container {
  position: absolute;
  top: 120px;
  left: 10px;
}

.input-container input {
  display: block;
  margin-bottom: 5px;
}

.button-container {
  position: absolute;
  top: 160px;
  left: 10px;
}

.button-container button {
  display: block;
  margin-top: 5px;
}

/* おみくじコーナーのスタイル */
p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}

input[type="button"] {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #0056b3;
}

#omikuzi {
  margin-top: 10px;
  text-align: center;
}

.switch-container {
  position: fixed;
  top: 10px;
  left: 10px;
}

.switch-container button {
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.switch-container button:hover {
  background-color: #0056b3;
}
